/* Ankit - 06-11-2019, 10:08 */
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Work Sans", sans-serif;
}

/* Ankit - 06-11-2019, 10:08 */
/* Modified : Ankit 06-11-2019, 11:11 */
/* Defining css variables for colors for reuse */
:root {
  --primary-color: #00ccdd;
  --blue: #465ff3;
  --section-color: #262b4a;
  --background-color: #1e2039;
  --purple: #9733fb;
  --yellow: #ffec0e;
  --orange: #f18019;
  --pink: #ff6e85;
  --red: #f1304d;
  --green: #20d38f;
  --olive-green: #82ba22;
  --grey: #cac9d0;
  --font-color: #ffffff;
}

/* Ankit - 06-11-2019, 10:08 */
/* Modified : Ankit 08-11-2019, 12:30*/
/* body properties for all the pages */
body {
  background-color: var(--background-color);
  color: var(--font-color);
  letter-spacing: 0.2px;
}

/* ------------ *\
    Close icon
\* ------------ */
.close-icon {
  display: inline;
  position: absolute;
  padding: 18px 0px;
  right: 30px;
  cursor: pointer;
}
.close-icon > span {
  position: relative;
}
.close-icon > span::before,
.close-icon > span::after {
  content: "";
  height: 2px;
  width: 16px;
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  opacity: 70%;
}
.close-icon > span::after {
  transform: rotate(45deg);
}
.close-icon > span::before {
  transform: rotate(-45deg);
}

/* ------------ *\
    Search box
\* ------------ */

.search-box {
  margin: 0px;
  padding: 10px;
  font-size: 16px;
  border: 0px solid #707070;
  border-radius: 4px;
}

.nav-margin {
  margin-top: 106px;
}
