.dropbox {
  width: 300px;
  height: 100px;
  margin: 100px auto;
  text-align: center;
}

.dropbox form {
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  background: var(--section-color);
  border: 4px dashed var(--background-color);
}
.dropbox form p {
  width: 100%;
  text-align: center;
  line-height: 170px;
  color: var(--font-color);
}
.dropbox form input {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
#download-link {
  color: var(--primary-color);
}
#download-link:hover:active {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .dropbox {
    width: 500px;
    margin: 170px auto;
    height: 150px;
  }
}
@media only screen and (min-width: 1440px) {
  .dropbox {
    width: 700px;
    height: 150px;

    margin: 200px auto;
  }
}
