.search-company-div {
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
}

.compare-div {
  height: 341px;
  width: 45%;
  border: 1px solid #00ccdd;
}

#compare-search-div {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#search-company-input {
  font-size: 16px;
  /* width: 60%; */
  /* margin: 100px; */
  border-bottom: 1px solid white !important;
  border: none;
  text-align: center;
  border-radius: 0px;
}

.search-result-1 {
  position: absolute;
  background-color: #4b527b;
  border-radius: 4px;
  max-height: 325px;
  overflow-y: scroll;
  font-size: 12px;
  margin-top: 4px;
  box-shadow: 0px 0px 4px 0px rgba(30, 32, 57, 1),
    0px 0px 4px 0px rgba(30, 32, 57, 1);
  width: 45%;
  white-space: wrap;
}
.search-result-1::-webkit-scrollbar {
  width: 0 !important;
}
.search-result-1 > div {
  padding: 6px;
}
.search-result-1 > div:hover {
  /* background-color: #e6e6e6; */
  cursor: pointer;
}

.search-result-1 > div:first-child {
  border-radius: 4px 4px 0px 0px;
}
.search-result-1 > div:last-child {
  border-radius: 0px 0px 4px 4px;
}
.search-result-1 > .search-no-result:hover {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: default;
}

.search-list-item {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.search-list-item:hover {
  box-shadow: 0px 2px 4px 0px #1e2039;
}

.search-list-item:active {
  box-shadow: 0px 2px 4px 0px #1e2039;
}

.search-list-item > div:first-child {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.profile-1 {
  background-color: #262b4a;
  height: 200px;
  border-radius: 8px;
  color: #00ccdd;
  display: flex;
  flex-direction: row;
  /* margin-top: 80px; */
  /* margin-left: 10px;
  margin-right: 10px; */
}

.ratios-1 {
  grid-area: ratios-1;
  height: 120px;
  background-color: #262b4a;
  padding: 16px 20px;
}

.ratios-heading-1 {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}

.ratios-flex-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.first-ratio-1 p:nth-last-child(1) {
  font-size: 10px;
}
.first-ratio-1 p:nth-last-child(2) {
  font-size: 20px;
}

.second-ratio-1 p:nth-last-child(1) {
  font-size: 10px;
}
.second-ratio-1 p:nth-last-child(2) {
  font-size: 20px;
}
.third-ratio-1 p:nth-last-child(1) {
  font-size: 10px;
}
.third-ratio-1 p:nth-last-child(2) {
  font-size: 20px;
}
.fourth-ratio-1 p:nth-last-child(1) {
  font-size: 10px;
}
.fourth-ratio-1 p:nth-last-child(2) {
  font-size: 20px;
}
.fifth-ratio-1 p:nth-last-child(1) {
  font-size: 10px;
}
.fifth-ratio-1 p:nth-last-child(2) {
  font-size: 20px;
}
.sixth-ratio-1 p:nth-last-child(1) {
  font-size: 10px;
}
.sixth-ratio-1 p:nth-last-child(2) {
  font-size: 20px;
}

.bsstatements-1 {
  width: 100%;
}

.cfstatements-1 {
  width: 100%;
}

.bsstatements-1 {
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  height: 820px;
}

.statements-1 {
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  height: 350px;
}

.cfstatements-1 {
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  height: 450px;
  margin-bottom: 20px;
}

.statements-heading-1,
.cfstatements-heading-1,
.bsstatements-heading-1 {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}

.statements-1 table {
  width: 100%;
}

.cfstatements-1 table {
  width: 100%;
}

.bsstatements-1 table {
  width: 100%;
}

.description-1 {
  background-color: #262b4a;
  border-radius: 8px;
  padding: 16px 10px;
}

.description-input-1 {
  color: white;
  font-size: 12px;
  height: auto;
  text-align: justify;
}

.description-heading-1 {
  font-size: 12px;
  color: #00ccdd;
  font-weight: 100 !important;
}
