#sectionHeading {
  /* border: 1px solid red; */
  width: 250px;
  margin-top: 0px;
  /* height: 23px; */
  padding: 10px;
  text-align: left;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--primary-color);
}
.gainers {
  width: 300px;
  height: fit-content;
  margin: 20px auto;
  background: var(--section-color);
  border-radius: 8px;
}

.reusableTicker {
  padding: 10px;
}
/* *********** Tablet View *********** */
@media only screen and (min-width: 768px) {
  #sectionHeading {
    /* border: 1px solid red; */
    width: 250px;
    padding: 20px;
    text-align: left;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: var(--primary-color);
  }
  .reusableTicker {
    padding: 15px;
  }
  .gainers,
  .losers {
    width: 668px;
    height: fit-content;
    margin: 30px auto;
    background: var(--section-color);
    border-radius: 8px;
  }
}

/* ***********Desktop View Media Queries*********** */
@media only screen and (min-width: 1024px) {
  #sectionHeading {
    /* border:1px solid red; */
    width: 250px;
    /* margin-top: 40px; */
    height: 23px;
    padding: 30px 40px;
    /* padding-left: 40px; */
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 23px;
    /* margin-bottom: 40px; */

    color: #00ccdd;
  }
  .reusableTicker {
    padding: 30px 40px;
    text-align: center;
  }

  .gainers,
  .losers {
    width: 960px;
    height: fit-content;
    margin: 35px auto;

    background: var(--section-color);
    border-radius: 8px;
  }
}
