#kafkamainContainer {
  width: 100%;
  display: grid;
  color: #fff;
  background-color: #2c3e50;
  border: none;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  background-color: var(--background-color);
  padding: 6px 0px;
}

#change-ve {
  color: #ff4d4d;
}

#changepositive {
  color: #27ae60;
}

#kafka {
  padding: 0px 10px;
}
