* {
  box-sizing: border-box;
}
.login-form-container {
  width: 300px;
  height: fit-content;
  margin: 100px auto;
  background: var(--section-color);
  border-radius: 8px;
  align-content: center;
}

.login-form-container .login-tab {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  display: inline-block;
  color: var(--primary-color);
  width: 50%;
  padding: 10px;
}
.login-form-container .register-tab {
  background: var(--background-color);
  border-radius: 0px 8px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  display: inline-block;
  color: #6b6775;
  width: 50%;
  padding: 10px;
}
.login-form-container .register-tab :hover {
  color: var(--primary-color);
}
#msform {
  padding: 10px;
  margin: 0px;
}

#msform fieldset {
  background: var(--section-color);
  border-radius: 8px;
  border: 0px solid #707070;
  padding: 0px 15px;
}

input,
textarea {
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
  color: var(--font-color);
  font-size: 13px;
  background: var(--background-color);
}

input:focus,
textarea:focus {
  outline: none;
  color: var(--font-color);
}

::placeholder {
  color: var(--font-color);
  font-size: 12px;
  line-height: 14px;
}
::placeholder:focus {
  color: #2980b9;
}

.formbutton {
  width: 100%;
  background: var(--primary-color);
  font-weight: 500;
  color: var(--font-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  border: 0px;
  transition: 0.3s;
  letter-spacing: 0.6px;
  font-size: 14px;
  margin: 10px 0px;
}

.formbutton:hover {
  box-shadow: 0px 4px 6px 0px var(--section-color);
}
.success-msg {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  font-weight: normal;
  color: var(--green);
  text-align: center;
}
.errorMessage {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #f18019;
}
.link {
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  .login-form-container {
    width: 350px;
    margin: 150px auto;
  }
}
@media only screen and (min-width: 1440px) {
  .login-form-container {
    width: 400px;
    margin: 170px auto;
  }
  .login-form-container .login-tab,
  .login-form-container .register-tab {
    padding: 25px;
  }
  #msform fieldset {
    padding: 20px 15px;
  }
  ::placeholder {
    font-size: 15px;
  }

  input,
  textarea {
    margin-top: 20px;
  }
  .formbutton {
    margin: 15px 0px;
    font-size: 15px;
  }
}

/* *******************************OUTLINED TEXT BOXES******************************* */
.outlined-inputs {
  position: relative;
  display: inline-block;
  padding-top: 6px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.outlined-inputs > input,
.outlined-inputs > textarea {
  margin: auto;
  border: solid 1px;
  border-radius: 4px;
  padding: 15px 13px 15px;
  height: inherit;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: var(--primary-color);
  transition: border 0.2s, box-shadow 0.2s;
  border: 1px solid #707070;
  border-top-color: transparent;
}

/* Span */
.outlined-inputs > input + span,
.outlined-inputs > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: #6b6775;
  width: 100%;
  max-height: 100%;
  color: var(--font-color);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.outlined-inputs > input + span::before,
.outlined-inputs > input + span::after,
.outlined-inputs > textarea + span::before,
.outlined-inputs > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px #6b6775;
  border-top-color: #6b6775;
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.outlined-inputs > input + span::before,
.outlined-inputs > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.outlined-inputs > input + span::after,
.outlined-inputs > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.outlined-inputs:hover > input,
.outlined-inputs:hover > textarea {
  border-color: #6b6775;
  border-top-color: transparent;
}

.outlined-inputs:hover > input + span::before,
.outlined-inputs:hover > textarea + span::before,
.outlined-inputs:hover > input + span::after,
.outlined-inputs:hover > textarea + span::after {
  border-top-color: #6b6775;
}

.outlined-inputs:hover > input:not(:focus):placeholder-shown,
.outlined-inputs:hover > textarea:not(:focus):placeholder-shown {
  border-color: #6b6775;
}

/* Placeholder-shown */
.outlined-inputs > input:not(:focus):placeholder-shown,
.outlined-inputs > textarea:not(:focus):placeholder-shown {
  border-top-color: #6b6775;
}

.outlined-inputs > input:not(:focus):placeholder-shown + span,
.outlined-inputs > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.outlined-inputs > input:not(:focus):placeholder-shown + span::before,
.outlined-inputs > textarea:not(:focus):placeholder-shown + span::before,
.outlined-inputs > input:not(:focus):placeholder-shown + span::after,
.outlined-inputs > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.outlined-inputs > input:focus,
.outlined-inputs > textarea:focus {
  border-color: var(--primary-color);
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--primary-color),
    inset -1px 0 var(--primary-color), inset 0 -1px var(--primary-color);
  outline: none;
}

.outlined-inputs > input:focus + span,
.outlined-inputs > textarea:focus + span {
  color: var(--primary-color);
}

.outlined-inputs > input:focus + span::before,
.outlined-inputs > input:focus + span::after,
.outlined-inputs > textarea:focus + span::before,
.outlined-inputs > textarea:focus + span::after {
  border-top-color: var(--primary-color) !important;
  box-shadow: inset 0 1px var(--primary-color);
}

/* Disabled */
.outlined-inputs > input:disabled + span,
.outlined-inputs > textarea:disabled + span {
  color: var(--primary-color);
}
.outlined-inputs > input:disabled,
.outlined-inputs > input:disabled + span,
.outlined-inputs > textarea:disabled,
.outlined-inputs > textarea:disabled + span {
  border-top-color: transparent !important;
  color: var(--primary-color);
  pointer-events: none;
}

.outlined-inputs > input:disabled + span::before,
.outlined-inputs > input:disabled + span::after,
.outlined-inputs > textarea:disabled + span::before,
.outlined-inputs > textarea:disabled + span::after {
  border-top-color: #6b6775 !important;
}

.outlined-inputs > input:disabled:placeholder-shown,
.outlined-inputs > input:disabled:placeholder-shown + span,
.outlined-inputs > textarea:disabled:placeholder-shown,
.outlined-inputs > textarea:disabled:placeholder-shown + span {
  border-top-color: #6b6775 !important;
}

.outlined-inputs > input:disabled:placeholder-shown + span::before,
.outlined-inputs > input:disabled:placeholder-shown + span::after,
.outlined-inputs > textarea:disabled:placeholder-shown + span::before,
.outlined-inputs > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}
