.nav-parent {
  background-color: var(--section-color);
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  box-shadow: 0px 2px 4px 0px rgba(30, 32, 57, 1);
}
nav {
  padding: 0px 10px;
}
.nav-brand-li {
  margin-right: auto;
}
.brand-image {
  width: 30px;
  height: auto;
}
.brand-image-2 {
  width: 100%;
  height: 100%;
}
.menu .link {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.menu li {
  font-size: 16px;
  padding: 8px 0px;
}

/* Mobile menu */
.menu ul {
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  cursor: pointer;
  order: 2;
}

#menu-btn:checked ~ .item {
  display: block;
}
#search-btn:checked ~ .nav-brand-li,
#search-btn:checked ~ .menu-icon,
#search-btn:checked ~ .item,
#search-btn:checked ~ .search-icon-li {
  display: none;
}
#search-btn:checked ~ .search-box-li {
  display: block;
}

.item {
  text-align: center;
  order: 3;
  width: 100%;
  display: none;
}
.item:hover {
  transition: 0.2s;
  padding-bottom: 6px;
  border-bottom: 2px solid #ffffff;
}
.active-link {
  padding-bottom: 8px;
  border-bottom: 2px solid #ffffff;
}
.search-icon-li {
  order: 1;
  margin-right: 30px;
}
.login-icon {
  position: relative;
  order: 5;
  width: 100%;
  text-align: center;
}
.search-box-li {
  position: relative;
  display: none;
  width: 100%;
}
.user-button div {
  color: #ffffff;
}

/* .search-icon {
  display: none;
} */
.menu-btn,
.search-btn {
  display: none;
}

.bars {
  background-color: #ffffff;
  height: 2px;
  width: 20px;
  display: inline-block;
  position: relative;
}

.bars::before,
.bars::after {
  background-color: #ffffff;
  height: 2px;
  width: 20px;
  display: inline-block;
  position: absolute;
  content: "";
}

.bars::before {
  top: -12px;
}

.bars::after {
  top: -6px;
}

.fa-search {
  color: #ffffff;
}
.search-suggestion {
  padding: 10px;
  width: 100%;
}

.search-result {
  position: absolute;
  background-color: #4b527b;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;
  font-size: 12px;
  margin-top: 4px;
  box-shadow: 0px 0px 4px 0px rgba(30, 32, 57, 1),
    0px 0px 4px 0px rgba(30, 32, 57, 1);
  width: 250px;
  white-space: wrap;
}
.search-result::-webkit-scrollbar {
  width: 0 !important;
}
.search-result > div {
  padding: 6px;
}
.search-result > div:hover {
  /* background-color: #e6e6e6; */
  cursor: pointer;
}

.search-result > div:first-child {
  border-radius: 4px 4px 0px 0px;
}
.search-result > div:last-child {
  border-radius: 0px 0px 4px 4px;
}
.search-result > .search-no-result:hover {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: default;
}
.search-list-item {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.search-list-item:hover {
  box-shadow: 0px 2px 4px 0px #1e2039;
}

.search-list-item:active {
  box-shadow: 0px 2px 4px 0px #1e2039;
}

.search-list-item > div:first-child {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/* admin properties */

.menu .admin-ul {
  justify-content: end;
}

.admin-nav-brand {
  margin-right: auto;
}
.admin-ul .admin-item .link {
  padding: 10px 0px;
}

.admin-ul .admin-item:hover .link {
  transition: 0.2s;
  padding-bottom: 8px;
  border-bottom: 2px solid #ffffff;
}

.user-options-links {
  position: absolute;
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  left: -240%;
  margin-top: 6px;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0px 2px 4px 0px #c2c2c2;
}
.user-options-links > div {
  padding: 8px 12px;
}
.user-options-links > div:first-child {
  border-radius: 4px 4px 0px 0px;
}
.user-options-links > div:last-child {
  border-radius: 0px 0px 4px 4px;
}
.user-options-links > div:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.user-options-item {
  color: #272727;
  text-decoration: none;
}

.login-icon:hover .link ~ .user-options-links {
  display: block;
}
.login-icon:hover {
  padding-bottom: 6px;
}
.search-icon {
  width: 24px;
  height: 24px;
}

.search-icon path,
.search-icon polygon,
.search-icon rect {
  fill: #ffffff;
}

.search-icon circle {
  stroke: #ffffff;
  stroke-width: 5;
}

.user-button:hover {
  padding-bottom: 8px;
  border-bottom: 0px;
}

/* #loader-main {
  margin-top: 500 px !important;
  margin-left: 50px;
} */

@media screen and (min-width: 526px) {
  .item,
  .login-icon {
    width: auto;
  }
  .item {
    margin-right: 20px;
  }
  .item .link {
    font-size: 14px;
  }
  #adminteam {
    margin: 0px 30px;
  }
  .search-icon-li {
    order: 4;
    margin-right: 0px;
  }
  .menu-icon {
    display: none;
  }
  .user-button:not(:last-of-type) {
    margin-right: 20px;
  }
  .user-button div {
    padding: 8px 10px;
    border-radius: 4px;
  }
  .btn-border {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .btn-background {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 768px) {
  #nav-brand {
    font-size: 20px;
  }
  .item .link {
    font-size: 14px;
    display: block;
  }
  .search-box-li {
    width: auto;
    order: 4;
    display: block;
    margin-right: 20px;
  }
  .item:last-of-type {
    margin-right: 0px;
  }
  .search-icon-li {
    display: none;
  }
  .close-icon {
    display: none;
  }
  .user-button {
    order: 4;
  }
}

@media screen and (min-width: 992px) {
  .item .link {
    font-size: 16px;
  }
  .nav-parent {
    padding: 0px 40px;
  }
  .menu.admin {
    padding: 5px 130px;
  }
}
