* {
  box-sizing: border-box;
}
.register-form-container {
  width: 300px;
  height: fit-content;
  margin: 100px auto;
  background: var(--section-color);
  border-radius: 8px;
  align-content: center;
}

.register-form-container .login-tab {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  display: inline-block;

  width: 50%;
  color: #6b6775;
  background: var(--background-color);
  padding: 10px;
}
.register-form-container .login-tab :hover {
  color: var(--primary-color);
}
.register-form-container .register-tab {
  border-radius: 0px 8px 0px 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  display: inline-block;

  width: 50%;
  padding: 10px;
}
@media only screen and (min-width: 1024px) {
  .register-form-container {
    width: 350px;
    margin: 150px auto;
  }
}
@media only screen and (min-width: 1440px) {
  .register-form-container {
    width: 400px;
    margin: 170px auto;
  }
  .register-form-container .login-tab,
  .register-form-container .register-tab {
    padding: 25px;
  }
}
