* {
  box-sizing: border-box;
}
.reset-password-container {
  width: 300px;
  height: fit-content;
  margin: 100px auto;
  background: var(--section-color);
  border-radius: 8px;
  align-content: center;
  border: 0.2px solid #6b6775;
}
.reset-password-container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;

  color: var(--primary-color);
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  .reset-password-container {
    width: 350px;
    margin: 150px auto;
  }
}
@media only screen and (min-width: 1440px) {
  .reset-password-container {
    width: 400px;
    margin: 170px auto;
  }
}
