/* -------------------- *\
    Screener Component
\* -------------------- */

/* Filter FAB (Floating action button) */
#filter-fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/* Filter FAB icon */
#filter-fab > span,
#filter-fab > span::before,
#filter-fab > span::after {
  background-color: #ffffff;
  height: 2px;
  display: inline-block;
}
#filter-fab > span {
  position: relative;
  width: 18px;
  top: 1px;
}
#filter-fab > span::before,
#filter-fab > span::after {
  position: absolute;
  content: "";
}
#filter-fab > span::before {
  width: 26px;
  top: -6px;
  left: -4px;
}
#filter-fab > span::after {
  width: 10px;
  top: 6px;
  left: 4px;
}

/* ------------------ *\
    Filter container
\* ------------------ */

.filter-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.filter-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: calc(100vw - 20px);
  height: calc(100vh - 80px);
  background-color: var(--section-color);
  border-radius: 8px 8px 0px 0px;
}

/* --------------- *\
    Filter header
\* --------------- */

.filter-header {
  padding: 12px 16px;
}
#filter-back-icon {
  cursor: pointer;
}
hr {
  width: 90%;
  border: 0px;
  align-self: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.filter-header .close-icon {
  padding: 0px;
  top: 20px;
  display: flex;
  align-items: center;
}

.filter-header .arrow.left {
  margin-right: 12px;
}
.arrow {
  border: solid #ffffff;
  border-width: 0 2px 2px 0px;
  display: inline-block;
  padding: 4px;
}

.left {
  transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
}

/* Filter Items */

.filter-items {
  margin: 16px 24px 0px 24px;
  overflow-y: scroll;
}

.filter-items .search-box {
  padding: 12px 16px;
}

.filter-items div {
  cursor: pointer;
}

.selectable-button {
  padding: 12px 16px;
  background-color: var(--background-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.selectable-button:not(:last-of-type) {
  margin-bottom: 14px;
}

.selectable-button .right {
  margin-left: auto;
}

/* -------------- *\
    Filter Items
\* -------------- */

.filter-items-list {
  margin: 14px 0px;
}

.checkbox-li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox-li > input {
  width: fit-content;
  margin-right: 10px;
  margin-top: 0px;
}

/* Button */
.apply-button {
  cursor: pointer;
  padding: 10px 16px;
  width: 90%;
  align-self: center;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 14px;
  background-color: var(--primary-color);
}

.radar-canvas {
  margin: auto;
}

/* ---------------------------- *\
    Filtered tickers container
\* ---------------------------- */

.filtered-tickers-container {
  background-color: var(--section-color);
  margin: 14px 10px 20px 10px;
  border-radius: 8px;
  padding: 14px 16px;
}

.filtered-tickers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 14px;
}
.filtered-grid-item {
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 4px;
}

.filtered-grid-item > p:first-of-type {
  margin-bottom: 6px;
}

.filtered-grid-item > p:not(:first-of-type) {
  font-size: 14px;
}
.filtered-grid-item > p:last-of-type {
  margin-top: 4px;
  opacity: 70%;
}

/* ------------- *\
    Tablet view
\* ------------- */

@media screen and (min-width: 768px) {
  #screener-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 80px 40px 80px;
    column-gap: 40px;
  }
  .filtered-tickers-container {
    margin: 0px;
    width: 100%;
  }
  .filter-container {
    width: 100%;
    height: calc(100vh - 160px);
    position: sticky;
    top: 130px;
    background: transparent;
    z-index: inherit;
    order: -1;
  }
  .filter-modal {
    position: static;
    z-index: inherit;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .filter-header div:first-of-type {
    display: flex;
    align-items: center;
  }
  .filter-header .close-icon {
    display: none !important;
  }
  .filter-items {
    margin: 16px;
  }
  .filter-items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .filter-items-list {
    margin-top: 0px;
  }
  #search-filter-input {
    margin-bottom: 14px;
  }
  #filter-fab {
    display: none;
  }
}
