@import url(https://fonts.googleapis.com/css?family=Work+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

.stockspecific-container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "profile profile"
    "secondary-nav secondary-nav"
    "description description"
    "ratios ratios"
    "stock-chart stock-chart"
    "earnings-revenue-history earnings-revenue-history"
    "monte-carlo-graph monte-carlo-graph"
    "statements statements"
    "statement-graph statement-graph"
    "bsstatements bsstatements"
    "bs-statement-graph bs-statement-graph"
    "cfstatements cfstatements"
    "cf-statement-graph cf-statement-graph";
  grid-gap: 10px;
  background-color: #1e2039;
  position: relative;
}

.profile {
  grid-area: profile;
  background-color: #262b4a;
  height: 160px;
  border-radius: 8px;
  color: #00ccdd;
  display: flex;
  flex-direction: row;
  margin-top: 155px;
  margin-left: 10px;
  margin-right: 10px;
}

.firstprofilecolumn {
  margin-left: 5px;
}

.firstprofilecolumn-logo {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.firstprofilecolumn-price {
  color: #f18019;
  margin-top: 25px;
}

.firstprofilecolumn-lastprice {
  font-size: 9px;
  color: rgb(187, 170, 170);
  font-weight: bold;
}

.secondprofilecolumn-name {
  margin-top: 20px;
  font-weight: bold;
}

.secondprofilecolumn-ticker {
  font-weight: bold;
}

.secondprofilecolumn-change {
  color: #f18019;
  font-weight: bold;
  margin-top: 30px;
}
.secondary-nav {
  grid-area: secondary-nav;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
}

.secondary-nav a {
  color: white;
  cursor: pointer;
  text-decoration-line: none;
  padding: 8px;
  border-radius: 3px;
  outline: none;
}

.secondary-nav a:hover {
  background: #ff6e85;
}

.secondary-nav-dropdown {
  position: relative;
  display: inline-block;
}

.secondary-nav-dropdown-dropbtn {
  font-size: 16px;
  padding: 8px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  cursor: pointer;
}

.secondary-nav-dropdown-dropdown-content {
  display: none;
  position: absolute;
  background-color: #262b4a;
  min-width: 160px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;
  right: 0;
}

.secondary-nav-dropdown-dropdown-content a {
  color: #f9f9f9;
  text-decoration: none;
  display: block;
}

.secondary-nav-dropdown-dropdown-content a:hover {
  background-color: #1e2039;
}

.secondary-nav-dropdown:hover .secondary-nav-dropdown-dropdown-content {
  display: block;
}

.ratios {
  grid-area: ratios;
  background-color: #262b4a;
  border-radius: 8px;
  height: 175px;
  padding: 16px 10px;
  margin: 0px 10px;
}

.ratios-heading {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}

.ratios-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 3%;
}

.ratios-flex div {
  color: white;
  font-weight: bold;
}

.first-ratio p:nth-last-child(2) {
  font-size: 20px;
  text-align: center;
}

.first-ratio p:nth-last-child(1) {
  text-align: center;
  font-size: 12px;
}

.second-ratio p:nth-last-child(2) {
  font-size: 20px;
  text-align: center;
}

.second-ratio p:nth-last-child(1) {
  text-align: center;
  font-size: 12px;
}

.third-ratio p:nth-last-child(2) {
  font-size: 20px;
  text-align: center;
}

.third-ratio p:nth-last-child(1) {
  text-align: center;
  font-size: 12px;
}

.fourth-ratio p:nth-last-child(2) {
  font-size: 20px;
  text-align: center;
}

.fourth-ratio p:nth-last-child(1) {
  text-align: center;
  font-size: 12px;
}

.fifth-ratio p:nth-last-child(2) {
  font-size: 20px;
  text-align: center;
}

.fifth-ratio p:nth-last-child(1) {
  text-align: center;
  font-size: 12px;
}

.sixth-ratio p:nth-last-child(2) {
  font-size: 20px;
  text-align: center;
}

.sixth-ratio p:nth-last-child(1) {
  text-align: center;
  font-size: 12px;
}
.stock-chart {
  grid-area: stock-chart;
  background-color: #262b4a;
  border-radius: 8px;
  padding: 16px 10px;
  margin: 0px 10px;
}

.stockchart-heading {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}

.stockchart-heading span:nth-last-child(1) {
  color: #00ccdd;
}

.stockchart-heading span:nth-last-child(2) {
  color: #00ccdd;
}

.earnings-revenue-history {
  grid-area: earnings-revenue-history;
  background-color: #262b4a;
  border-radius: 8px;
  padding: 16px 10px;
  margin: 0px 10px;
}

.earnings-revenue-history-heading {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}

.erh-graph {
  border-radius: 8px;
  height: 265px;
}

.monte-carlo-graph {
  grid-area: monte-carlo-graph;
  background-color: #262b4a;
  border-radius: 8px;
  padding: 16px 10px;
  margin: 0px 10px;
}

.statements {
  grid-area: statements;
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  margin: 0px 10px;
}

.statements-heading {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}
.statement-graph {
  grid-area: statement-graph;
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  margin: 0px 10px;
}

.statements-table th,
td {
  font-size: 12px;
}
.statements-table tr:not(:last-of-type) {
  border-bottom: 1px solid #1e2039;
}
.statements-table {
  border-collapse: collapse;
}
.financialTableDataTitle {
  background: #1e2039;
}

.statements-table tr:not(:first-child) td:not(:first-child) {
  text-align: right;
}

.financialsTotalTD {
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.bsstatements {
  grid-area: bsstatements;
  background-color: #262b4a;
  border-radius: 8px;
  height: auto;
  width: auto;
  padding: 16px 10px;
  margin: 0px 10px;
}

.bsstatements-heading {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}
.bs-statement-graph {
  grid-area: bs-statement-graph;
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  margin: 0px 10px;
}

/* .bs-statement-graph h4 {
  color: #00ccdd;
} */

.cfstatements {
  grid-area: cfstatements;
  background-color: #262b4a;
  border-radius: 8px;
  height: auto;
  width: auto;
  padding: 16px 10px;
  margin: 0px 10px;
}

.cfstatements-heading {
  color: #00ccdd;
  margin-bottom: 14px;
  font-size: 16px;
}
.cf-statement-graph {
  grid-area: cf-statement-graph;
  background-color: #262b4a;
  border-radius: 8px;
  width: auto;
  padding: 16px 10px;
  margin: 0px 10px;
}

/* .cf-statement-graph h4 {
  color: #00ccdd;
} */

.description {
  grid-area: description;
  background-color: #262b4a;
  border-radius: 8px;
  padding: 16px 10px;
  margin: 0px 10px;
}

.description-input {
  color: white;
  font-size: 12px;
  height: auto;
  text-align: justify;
}

.description-heading {
  font-size: 12px;
  color: #00ccdd;
  font-weight: 100 !important;
}

@media only screen and (min-width: 1024px) {
  .stockspecific-container {
    width: 100%;
    display: grid;
    grid-template-areas:
      "profile profile"
      "secondary-nav secondary-nav"
      "description description"
      "ratios ratios"
      "stock-chart earnings-revenue-history"
      "monte-carlo-graph monte-carlo-graph"
      "statements statement-graph"
      "bsstatements bs-statement-graph"
      "cfstatements cf-statement-graph";
    grid-gap: 10px;
    background-color: #1e2039;
    padding: 20px 60px;
  }

  .profile {
    height: 180px;
    margin-top: 100px;
  }

  .secondprofilecolumn-name {
    font-size: 36px;
  }
  .secondprofilecolumn-ticker {
    margin-top: 10px;
    font-size: 24px;
  }
  .firstprofilecolumn-price {
    font-size: 20px;
    margin-top: 30px;
  }
  .firstprofilecolumn-logo {
    height: 70px;
    margin-left: 30px;
    margin-top: 25px;
  }
  .secondprofilecolumn-change {
    font-size: 20px;
    margin-top: 29px;
  }
  .firstprofilecolumn-lastprice {
    font-size: 12px;
  }
  .firstprofilecolumn {
    margin-left: 20px;
  }
  .secondary-nav {
    padding: 5px;
  }
  .secondary-nav a {
    font-size: 18px;
    width: 145px;
    text-align: center;
  }

  .secondary-nav a {
    color: white;
    cursor: pointer;
    text-decoration-line: none;
    padding: 8px;
    border-radius: 3px;
    outline: none;
  }

  .secondary-nav a:hover {
    background: #ff6e85;
  }

  .ratios-heading {
    font-size: 20px;
  }
  .ratios {
    height: 150px;
    padding: 16px 20px;
  }
  .ratios-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .first-ratio p:nth-last-child(1) {
    font-size: 16px;
  }
  .first-ratio p:nth-last-child(2) {
    font-size: 26px;
  }
  .second-ratio p:nth-last-child(1) {
    font-size: 16px;
  }
  .second-ratio p:nth-last-child(2) {
    font-size: 26px;
  }
  .third-ratio p:nth-last-child(1) {
    font-size: 16px;
  }
  .third-ratio p:nth-last-child(2) {
    font-size: 26px;
  }
  .fourth-ratio p:nth-last-child(1) {
    font-size: 16px;
  }
  .fourth-ratio p:nth-last-child(2) {
    font-size: 26px;
  }
  .fifth-ratio p:nth-last-child(1) {
    font-size: 16px;
  }
  .fifth-ratio p:nth-last-child(2) {
    font-size: 26px;
  }
  .sixth-ratio p:nth-last-child(1) {
    font-size: 16px;
  }
  .sixth-ratio p:nth-last-child(2) {
    font-size: 26px;
  }
  .ratios-flex {
    margin-top: 20px;
  }
  .stockchart-heading span:nth-last-child(2) {
    font-size: 20px;
  }
  .stockchart-heading span:nth-last-child(1) {
    font-size: 20px;
  }
  .earnings-revenue-history-heading {
    font-size: 20px;
  }
  .description-input p {
    font-size: 15px;
  }
  .description-heading {
    font-size: 16px;
  }
  .secondary-nav-dropdown-dropdown-content {
    visibility: hidden;
  }
  .stock-chart {
    padding: 16px 20px;
    margin-right: 0;
    width: 550px;
  }
  .earnings-revenue-history {
    padding: 16px 20px;
    margin-left: 0;
    width: 830px;
  }
  .statements {
    padding: 16px 20px;
    margin-right: 0;
    width: 550px;
  }
  .statements-heading {
    font-size: 20px;
  }
  .bsstatements {
    padding: 16px 20px;
    margin-right: 0;
    width: 550px;
  }
  .bsstatements-heading {
    font-size: 20px;
  }
  .cfstatements {
    padding: 16px 20px;
    margin-right: 0;
    width: 550px;
  }
  .cfstatements-heading {
    font-size: 20px;
  }
  .statements-table th,
  td {
    font-size: 16px;
  }
  .statement-graph {
    padding: 16px 20px;
    margin-left: 0;
    width: 830px;
  }
  .bs-statement-graph {
    padding: 16px 20px;
    width: 830px;
    margin-left: 0;
  }
  .cf-statement-graph {
    padding: 16px 20px;
    width: 830px;
    margin-left: 0;
  }
  .description {
    padding: 16px 20px;
  }
}
