html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#tickerTable {
  display: none;
}

.secNavItems {
  width: 300px;
  height: 40px;

  /* margin: 70px auto 0px auto; */
  position: fixed;
  z-index: 2;
  left: 10px;
  right: 0;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e2039;
}
.secNavItems a.active {
  background-color: var(--pink);
  /* width: 74px; */
  height: 25px;
  border-radius: 4px;
  padding-top: 3px;
}
.secNavItems a {
  float: left;
  /* top: 10px; */
  padding-top: 0px;
  color: white;
  text-decoration: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  width: 20%;
  text-align: center;
}
.marketIndices {
  margin: 170px auto 20px auto;
  display: block;
  width: 300px;
  height: fit-content;
  background: #262b4a;
  border-radius: 8px;
}
.marketHeading {
  /* border: 1px solid red; */
  width: 250px;
  margin-top: 0px;
  /* height: 23px; */
  padding: 10px;
  text-align: left;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--primary-color);
}

.stockChart {
  width: fit-content;
  height: fit-content;
  margin-top: -10px;
  margin-left: 0px;
  margin-bottom: 15px;
}
#ohlcGraph {
  margin-left: 0px;
  width: 300px;
  border: 0px;
  height: 320px;
}
.indices {
  width: 300px;
  height: 64px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  /* border: 1px solid yellow; */
  /* font-size: 12px;*/
  line-height: 14px;
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
}

.indices a {
  /* border: 1px solid red; */
  border-radius: 4px;
  float: left;
  background: #1e2039;
  color: white;
  margin-left: 4.3px;
  text-decoration: none;
  cursor: pointer;
  font-size: 8px;
  width: 45px;
  height: 50px;
  padding-bottom: 0px;
  text-align: center;
}

.indices a.active {
  background-color: var(--primary-color);
}

/* *********** Tablet View *********** */
@media only screen and (min-width: 768px) {
  #tickerTable {
    display: none;
  }
  .secNavItems {
    width: 668px;
    height: 50px;
    position: fixed;
    top: 130px;
    left: 0px;
    margin: auto;
    z-index: 2;
    background: #1e2039;
  }
  .secNavItems a.active {
    background-color: var(--pink);
    height: 36px;
    border-radius: 4px;
    padding-top: 8px;
  }
  .secNavItems a {
    float: left;
    /* top: 10px; */
    padding-top: 0px;
    color: white;
    text-decoration: none;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: 120px;
    text-align: center;
  }
  .marketIndices {
    display: block;
    margin: 190px auto 30px auto;
    width: 668px;
    height: fit-content;
    background: #262b4a;
    border-radius: 8px;
  }
  .marketHeading {
    /* border: 1px solid red; */
    width: 250px;
    padding: 20px;
    text-align: left;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: var(--primary-color);
  }

  .stockChart {
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  #ohlcGraph {
    margin-left: 35px;
    width: 600px;
    height: 450px;
    border: 0px;
  }
  .indices {
    width: 668px;
    height: 64px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 0px;
  }

  .indices a {
    border-radius: 4px;
    float: left;
    background: #1e2039;
    color: white;
    margin-left: 34px;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    width: 70px;
    height: 60px;
    text-align: center;
  }

  .indices a.active {
    background-color: var(--primary-color);
  }
}

/* ***********Desktop View Media Queries*********** */
@media only screen and (min-width: 1024px) {
  #tickerTable {
    display: block;
    flex: 3;
    margin-top: 30px;
    margin-left: 30px;
  }
  .secNavItems {
    width: 960px;
    z-index: 2;
    position: fixed;
    top: 106px;
    left: 0px;
    cursor: pointer;
    height: 60px;
    /* border: 1px solid red; */
    background: var(--background-color);
  }
  .secNavItems a.active {
    background-color: var(--pink);
    padding: 7px 0px;
    border-radius: 4px;
  }
  .secNavItems a {
    float: left;
    padding: 7px 0px 10px 0px;
    color: white;
    text-decoration: none;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    margin: 0px 16px;
    width: 100px;
    height: 40px;
    text-align: center;
  }
  .marketContent {
    display: flex;
  }
  .marketIndices {
    margin: 180px auto 35px auto;
    width: 960px;
    height: fit-content;
    background: #262b4a;
    border-radius: 8px;
  }
  .marketHeading {
    width: 300px;
    height: 23px;
    padding: 20px 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 23px;

    color: #00ccdd;
  }
  .stockChart {
    width: fit-content;
    flex: 6;
    height: fit-content;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #ohlcGraph {
    margin: -40px 10px 30px 0px;
    width: 440px;
    border: 0px;
    height: 450px;
  }
  .indices {
    display: none;
  }
}
