.stockspecific-table-wrapper {
  width: auto;
  max-width: fit-content;
  border-radius: 4px;
  overflow-x: scroll;
  margin-left: 8px;
  border: 1px solid var(--background-color);
}

/* hidding the scrollbar */
.stockspecific-table-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.stockspecific-table,
th,
td {
  border-collapse: collapse;
  padding: 12px;
  background-color: var(--section-color);
}

/* adding column name properties */
.stockspecific-table th {
  font-weight: 800;
  background-color: var(--background-color);
  white-space: nowrap;
}

/* background color to heading row of table */
.stockspecific-table tr:first-of-type {
  background-color: var(--background-color);
}

/* aligning row data items except ticker to right */
.stockspecific-table tr:not(:first-child) td:not(:first-child) {
  text-align: right;
}

/* making first column fixed to the table */
.stockspecific-table th:first-child,
.stockspecific-table td:first-child {
  position: sticky;
  left: 0;
  min-width: 250px;
  max-width: 250px;
  box-shadow: 2px 0px 2px -1px rgba(0, 0, 0, 0.2);
}

/* refactoring text of ticker company */
.ticker-company {
  font-size: 12px;
  opacity: 70%;
  white-space: wrap;
}

/* adding horizontal line after every row */
.stockspecific-table tr:not(:last-of-type)::after {
  content: "";
  width: 98%;
  height: 1px;
  background-color: var(--background-color);
  /* border-bottom: 1px solid var(--background-color); */
}
