.stockTabs {
  width: 280px;
  height: 25px;
  text-align: center;
  background: var(--section-color);
  float: center;
  margin-right: 0px;
  margin-left: 10px;
}

#th {
  border: 1px solid var(--pink);
  cursor: pointer;
  float: left;
  /* background: var(--section-color); */
  color: white;
  text-decoration: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 14px;
  width: 68px;
  height: 25px;
  text-align: center;
  padding: 3.5px;
}

/* #th.active {
  background-color: var(--pink);
} */
.tabColor {
  background-color: var(--pink) !important;
}
/* ******************* Tablet View ****************** */
@media only screen and (min-width: 768px) {
  .stockTabs {
    width: fit-content;
    height: 34px;
    text-align: center;
    background: var(--section-color);
    float: right;
    margin-left: 0px;
    margin-top: -45px;
    margin-right: 20px;
  }

  #th {
    border: 1px solid var(--pink);
    cursor: pointer;
    float: left;
    /* background: transparent; */
    color: white;
    text-decoration: none;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    width: 115px;
    height: 30px;
    text-align: center;
    padding: 5px;
  }

  .tabColor {
    background-color: var(--pink) !important;
  }
}
/* **************************** Desktop ********************** */
@media only screen and (min-width: 1024px) {
  .stockTabs {
    width: fit-content;
    height: 35px;
    text-align: center;
    background: var(--section-color);
    float: right;
    margin-left: 0px;
    margin-top: -40px;
    margin-right: 20px;
  }

  #th {
    border: 1px solid var(--pink);
    cursor: pointer;
    float: left;
    /* background: var(--pink); */
    color: white;
    text-decoration: none;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 115px;
    height: 28px;
    text-align: center;
    /* background-color: var(--pink); */

    padding: 4px;
  }

  .tabColor {
    background-color: var(--pink) !important;
  }
}
