/* -------------------- *\
    Tables Component
\* -------------------- */

/* wrapping the table inside the div and providing 
    horizontal scroll */
.table-wrapper {
  width: auto;
  max-width: fit-content;
  border-radius: 4px;
  overflow-x: scroll;
}

.table-border {
  border: 1px solid var(--background-color);
}

/* hidding the scrollbar */
.table-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.table,
th,
td {
  border-collapse: collapse;
  padding: 12px;
  background-color: var(--section-color);
}

.table th > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* adding column name properties */
.table th {
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}

/* background color to heading row of table */
.table-background {
  background-color: var(--background-color);
}

/* aligning row data items except ticker to right */
.table tr:not(:first-child) td:not(:first-child) {
  text-align: right;
}

/* making first column fixed to the table */
.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
  min-width: 90px;
  max-width: fit-content;
  box-shadow: 2px 0px 2px -1px rgba(0, 0, 0, 0.2);
}

/* refactoring text of ticker company */
.ticker-company {
  font-size: 12px;
  opacity: 70%;
  white-space: wrap;
}

/* adding horizontal line after table data of every row */
/* .table tr th.dark, */
.table tr:not(:last-of-type) td.dark {
  border-bottom: 1px solid var(--background-color);
}
.table tr th.light,
.table tr:not(:last-of-type) td.light {
  border-bottom: 1px solid #4b527b;
}

/* sort button triangles css */
.triangle-up {
  width: 0;
  height: 0;
  display: inline;
  margin-left: 10px;
  border-top: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--section-color);
}
.triangle-down {
  width: 0;
  height: 0;
  display: inline;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid var(--section-color);
}
